* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper {
  background-color: white;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 120px;
  display: block;
  /* max-width: 100%;
  height: auto; */
  margin: 0 auto;
}
.my-sertyf {
  width: 300px;
  margin: 20px 20px;
}
.about-me-container {
  padding: 25px;
}
.contacts-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}
.contacts-conteiner-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.contacts-link {
  color: #6e7580;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.contacts-link-type {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}
.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.tech-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}
.li-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}
.soft-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.soft-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.li-text {
  color: #a7abb1;
}
.profession {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.name {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 89px;
}
.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}
.info-conteiner {
  margin-bottom: 20px;
}
.about-me-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
}
.projects-item {
  font-weight: 700;
  margin-left: 17px;
}
.projects-container {
  margin-bottom: 25px;
}
.work-experience-container {
  margin-bottom: 55px;
}
.profession-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.company {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.divaider {
  color: #000000;
}
.profession-duties {
  margin-top: 14 px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.education-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}
.education-degree {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}
